<div class="row top-buffer">
  <div class="col-sm-4"><b>Jira Project Key:</b> <%= team.accounting_code %></div>
  <div class="col-sm-4"><b>Accounting Code:</b> <%= team.accounting_code %></div>
</div>

<div class="top-buffer"><b>Members:</b><br> <%= team.members %></div>
<div class="top-buffer"><b>Charter:</b><br> <%= team.charter %></div>
<div class="top-buffer"><b>Responsibilities:</b><br> <%= team.responsibilities %></div>
<div class="top-buffer"><b>Vision:</b><br> <%= team.vision %></div>
<div class="top-buffer"><b>Mission:</b><br> <%= team.mission %></div>
<div class="top-buffer"><b>Mission Tests:</b><br><%= team.mission_tests %></div>
<div class="top-buffer"><b>Success Criteria:</b><br><%= team.success_criteria %></div>
